<form name="edit" novalidate data-ng-submit="save(edit)" data-layout="row">
    <div class="form-group">
	<div ng-class="{ 'has-error': edit.input.$touched && edit.input.$invalid }">
	        <input class="form-control" name="input" type="text" title="" autocomplete="off" data-ng-model="editValue" required>
        </div>
        <div class="help-block" ng-messages="edit.input.$error" ng-if="edit.$submitted">
            <p ng-message="required"><small>Поле обязателено</small></p>
        </div>
    </div>
    <div>
        <button class="btn-call-to-action btn-small" type="submit">
            Save
        </button>
        <button class="btn-cancel btn-small" type="button" data-ng-click="cancel()">
            Cancel
        </button>
    </div>
</form>
